extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 Michael Harlev Kristensen

        //- Feel free to personalize the title below
        p UX-Designer and Full-Stack JavaScript Developer


        .about-bio

          //- Replace the boilerplate below with your best elevator pitch
          p My experience runs from UX-Design and Concept Development on one end of the spectrum, to Full-Stack Javascript and Front-End Developer on the other - So whether you need me to manage a large section of a project, or fill a specific role with a larger perspective and understanding within that spectrum, I am your man!
          p On the personal note, I enjoy the good challenge and learning opportunity, that allows me to polish my skills further, and even if my main interest lies in the field of Human Computer Interaction, I am all round just a happy worker!


      .skills-contact-box.box
        h6 Skills

        //- Replace skills below with your own skills — at this point, you should be able to list as many as ten skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        //- Replace with your own contact info - feel free to use fake information if you prefer
        ul
          li +45 23 80 99 97
          li MicHarKris@email.com

        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
        a.btn-link(href='https://www.linkedin.com/in/michael-harlev-kristensen-94ba6a82/') LinkedIn
        a.btn-link(href='https://github.com/MicHarKris') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back