extends layout.pug

block content
  //- Navigation
  nav.nav
    a(href='/')
      span &larr;
      |  Back

  //- About section
  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      //- About intro box
      .about-intro-box.box
        //- Heading
        h1 Michael Harlev Kristensen

        //- Description
        p UX-Designer and Full-Stack JavaScript Developer
        p My experience runs from UX-Design and Concept Development on one end of the spectrum, to Full-Stack Javascript and Front-End Developer on the other - So whether you need me to manage a large section of a project, or fill a specific role with a larger perspective and understanding within that spectrum, I am your man!

        //- Bio-description
        .about-bio
          p On the personal note, I enjoy the good challenge and learning opportunity, that allows me to polish my skills further, and even if my main interest lies in the field of Human Computer Interaction, I am all round just a happy worker!

      //- Skills and Contact info
      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li +45 23 80 99 97
          li MicHarKris@email.com

        //- Link to LinkedIn and GitHub
        a.btn-link(href='https://www.linkedin.com/in/michael-harlev-kristensen-94ba6a82/', target='_blank') LinkedIn
        a.btn-link(href='https://github.com/MicHarKris', target='_blank') GitHub

      //- Navigation again
    nav.nav
      a(href='/')
        span &larr;
        |  Back