extends layout.pug

block content

  //- Portfolio intro section
  article.portfolio-intro
    //- Heading
    h1 My Skills & My Projects

    //- Description
    p The skills and projects I have studied with TeamTreeHouse through 5 modules in the field of Full-Stack Development, using the primary tools of HTML, CSS and JavaScript.

  //- Portfolio thumbnails section
  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`/static/${project.image_urls[0]}`, alt=`Thumbnail - ${project.project_name}`)
            h5= project.project_name