extends layout.pug

//- Displays Page not found error messages
block content
  h1 Page Not Found
  p= errorMessage
  p Status: #{status}
  //- Adds a link for return to home page
  a(href="/") Go back to the home page